<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    <a routerLink="/home">{{ title }}</a>

</mat-toolbar>

<mat-sidenav-container>

    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <app-nav></app-nav>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-content></app-content>
        
    </mat-sidenav-content>

    
</mat-sidenav-container>
 
  
<footer class="site-footer">
    &copy; {{ currentYear }} - {{ title }}
</footer>